extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
              
          a.brand(href='#') El Enano
              
          .nav-collapse.collapse
            p.navbar-text.pull-right

    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Opciones
                tbody
                  each d in data
                    tr
                      td 
                        a(href="/details/#{d.name}") #{d.name}
                      td Aritmetica: #{d.totales.first} 
                      td Geometrica: #{d.totales.second} 
                      td Irregluar: #{d.totales.third}
                    
                     
        .span9
          .hero-unit
            h2 Ambinte de Trabajo
                  
            p 1 - Lugar seguro con buena luminosidad y ventilacion
            p 2 - Lugar seguro con baja luminosidad o ventilacion
            p 3 - Lugar con baja luminosidad y ventilacion 
            p 4 - Lugar con mala luminosidad y ventilacion

        .span9
          .hero-unit
            h2 Riesgos
                  
            p 1 - En el puesto de trabajo no peligra la salud fisica o mental del trabajador
            p 2 - Las tareas del puesto de trabajo pueden ocasionar daños fisicos superficiales o cansancio mental
            p 3 - Las tareas del puesto pueden ocasionar daños fisicos o mentales que requieren atencion medica especializada pero sin necesidad de Lic. medicas extensivas 
            p 4 - Las tareas del puesto implica que el ocupante del mismo este expuesto a riesgos que producen daños fisicos o mentales   que produzcan Lic.  Extensivas


      
    footer
        p &copy; gahvilan #{new Date().getFullYear()}