extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
              
          a.brand(href='#') El Enano
              
          .nav-collapse.collapse
            p.navbar-text.pull-right

    .container-fluid
      .row-fluid
        .span9
          .hero-unit
            h2 #{data.name}
            div.col-md-6
                table.table.table-striped
                    thead
                        tr
                            td Nombre
                            td Ponderacion
                            td Grado
                            td Puntaje
                    tbody
                        each d in data.data
                            tr
                               td #{d.name}
                               td 
                                   input(type='text', id='ponderacion_#{d.id}', value='#{d.values[0]}', onkeyup = "document.getElementById('result_#{d.id}').value = document.getElementById('ponderacion_#{d.id}').value*document.getElementById('grado_#{d.id}').value") 
                               td 
                                   input(type='text', id='grado_#{d.id}', value='#{d.values[1]}', onkeyup = "document.getElementById('result_#{d.id}').value = document.getElementById('ponderacion_#{d.id}').value*document.getElementById('grado_#{d.id}').value") 
                               td
                                   input(type='text', id='result_#{d.id}', value='#{(d.values[0]*d.values[1])}') 

    p &copy; gahvilan #{new Date().getFullYear()}